<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container">
    <h1 th:text="Incidencias"></h1>
    <h3>Tus incidencias</h3>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableListIncidencias"
               id="tableListIncidencias">
            <thead>
            <tr>
                <th th:text="Usuario"></th>
                <th th:text="Nombre"></th>
                <th th:text="Descripcion"></th>
                <th th:text="Coordenadas"></th>
                <th th:text="Etiquetas"></th>
                <th th:rowspan="2">
                <td th:text="Estado">
                </td>
                <td>
                </td>
                </th>
                <th th:text="Comentarios"></th>
                <th th:text="Caducidad"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inci : ${incidenciasList}">
                <td th:text="${inci.nombreUsuario}"></td>
                <td th:text="${inci.nombre}"></td>
                <td th:text="${inci.descripcion}"></td>
                <td><a
                        th:href="${'/user/showMap/' + inci.coordenadas.latitud + '/' + inci.coordenadas.longitud}"
                        th:text="${inci.coordenadas.latitud} + ', ' + ${inci.coordenadas.longitud}"></a>
                </td>
                <td th:text="${inci.listEtiquetas()}"></td>

                <td>
                <td th:text="${inci.estado}"></td>
                <td><a th:href="${'/user/changeStatus/' + inci.id}"
                       th:text="'Cambiar estado'"></a></td>

                </td>
                <td><a th:href="${'/user/listComments/' + inci.id }"
                       th:text="'Ver/añadir comentarios'"></a></td>
                <td th:text="${inci.caducidad}"></td>
                <td><a th:if="${inci.danger} == true"
                       class="btn btn-danger" th:href="${'/incidence/' + inci.id}">Peligro</a>
                </td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </div>
    <h3>Incidencias sin asignar</h3>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableListIncidenciasUn"
               id="tableListIncidencias2">
            <thead>
            <tr>
                <th th:text="Usuario"></th>
                <th th:text="Nombre"></th>
                <th th:text="Descripcion"></th>
                <th th:text="Coordenadas"></th>
                <th th:text="Etiquetas"></th>
                <th th:text="Estado"></th>
                <th th:text="Caducidad"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inci : ${incidenciasListUnsigned}">
                <td th:text="${inci.nombreUsuario}"></td>
                <td th:text="${inci.nombre}"></td>
                <td th:text="${inci.descripcion}"></td>
                <td><a
                        th:href="${'/user/showMap/' + inci.coordenadas.latitud + '/' + inci.coordenadas.longitud}"
                        th:text="${inci.coordenadas.latitud} + ', ' + ${inci.coordenadas.longitud}"></a>
                </td>
                <td th:text="${inci.listEtiquetas()}"></td>

                <td th:text="${inci.estado}"></td>
                <td th:text="${inci.caducidad}"></td>
                <td><a th:if="${inci.danger} == true"
                       class="btn btn-danger" th:href="${'/incidence/' + inci.id}">Peligro</a>
                </td>
                <td><button class="asgme btn btn-info" th:attr="inci=${inci.getId() }">Asignarmela</button></td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </div>

</div>
<script th:inline="javascript">
    /*<![CDATA[*/
        var eventSource = new EventSource("/emitter");

        eventSource.addEventListener("aviso", function(event) {

            var jIncidencia = JSON.parse(event.data);

            var tabla = document.getElementById("tableListIncidencias2");
            var ttabla = tabla.rows.length;

            var row = tabla.insertRow( ttabla );
            var user = row.insertCell(0);
            var name = row.insertCell(1);
            var desc = row.insertCell(2);
            var coord = row.insertCell(3);
            var et = row.insertCell(4);
            var state = row.insertCell(5);
            var timeout = row.insertCell(6);
            var danger = row.insertCell(7);
            var but = row.insertCell(8);
            var eti = "";
            jIncidencia.etiquetas.forEach(function (d) {
                eti += d.texto+ ", ";
            });

             user.innerHTML = '<td>' + jIncidencia.nombreUsuario + '</td>';
             name.innerHTML = '<td>' + jIncidencia.nombre + '</td>';
             desc.innerHTML ='<td>' + jIncidencia.descripcion + '</td>';
             coord.innerHTML = '<td><a href="/user/showMap/'+jIncidencia.coordenadas.X+'/'
                 +jIncidencia.coordenadas.Y+'">' + jIncidencia.coordenadas.X +', ' + jIncidencia.coordenadas.Y + '</a></td>';
             et.innerHTML ='<td>' + eti + '</td>';
             state.innerHTML = '<td>' + jIncidencia.estado + '</td>';
             timeout.innerHTML = '<td>' + jIncidencia.fecha + '</td>';
             danger.innerHTML ='<td>' + jIncidencia.danger ? '<a class="btn btn-danger" href="/incidence/'+jIncidencia.id+'">Peligro</a>' : '' + '</td>';
             but.innerHTML = '<td><button class="asgme btn btn-info" inci="'+jIncidencia.id+'">Asignarmela</button></td>';
            asg();

    });
    /*]]>*/
</script>
<script>
    asg = function () {
        $(".asgme").click(function () {
            $.post("/incidence/user/"+ $(this).attr("inci"), {}, function(result){
                location.reload();
            });
        });
    }

    asg();

</script>
</body>
</html>