<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container">
    <h1 th:text="Estadisticas"></h1>
    <canvas id="lineChart"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var c = {
        type: 'line',
        data: {
            labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
            datasets: [
                {
                    label: "Incidencias globales",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56, 55, 40,84,15,50,45,85]
                },{
                    label: "Mis Incidencias",
                    fillColor: "rgba(255, 99, 132,0.2)",
                    strokeColor: "rgba(255, 99, 132,1)",
                    pointColor: "rgba(255, 99, 132,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [12, 45, 23, 45, 56, 25, 20,23,2,22,2,3]
                }
            ]
        },
        options: {
            responsive: true
        }
    };

    c.data.datasets[0].data = /*[[${data}]]*/ [65, 59, 80, 81, 56, 55, 40,84,15,50,45,84];
    c.data.datasets[1].data = /*[[${mydata}]]*/ [12, 45, 23, 45, 56, 25, 20,23,2,22,2,3];
    var myLineChart = new Chart(ctxL, c);
    /*]]>*/
</script>
</body>
</html>