<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incidencias enviadas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Incidencias</h1>
    <div class="table-responsive">
        <table class="table table-hover" id="tableListIncidencias">
            <thead>
                <tr>
                    <th th:text="Usuario"></th>
                    <th th:text="Nombre"></th>
                    <th th:text="Descripcion"></th>
                    <th th:text="Coordenadas"></th>
                    <th th:text="Etiquetas"></th>
                    <th th:text="Estado"></th>
                    <th th:text="Comentarios"></th>
                    <th th:text="Caducidad"></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="inci : ${incidenciasList}">

                <!-- Modal -->
                <div class="modal fade" th:id="exampleModal+${inci.getId() }" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p th:each="c : ${inci.getComentarios()}"><i th:text="${c.getTexto()}"></i></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <td th:text="${inci.nombreUsuario}"></td>
                <td th:text="${inci.nombre}"></td>
                <td th:text="${inci.descripcion}"></td>
                <td th:text="${inci.coordenadas.latitud} + ', ' + ${inci.coordenadas.longitud}"></td>
                <td th:text="${inci.listEtiquetas()}"></td>

                <td th:text="${inci.estado}"></td>

                <td><button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#exampleModal'+${inci.getId() }">
                    Ver comentarios
                </button></td>
                <td th:text="${inci.caducidad}"></td>
                <td><a th:if="${inci.danger} == true"
                       class="btn btn-danger" th:href="${'/incidence/' + inci.id}">Peligro</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/">Atras</a>
</div>

</body>
</html>